@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #595348, #8C877D);
}

main {
    background-color: rgb(209, 209, 209);
    width: 600px;
    padding: 15px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #595348;
}

h1 {
    color: #0D0B04;
    text-align: center;
    text-shadow: 1px 1px 1px #0d0b0486;
}

h2 {
    color: #4C6873;
}

p {
    text-align: justify;
}